    <!-- ======= Testimonials Section ======= -->
<section class="section pt-0">
    <div class="container">

        <div class="owl-carousel testimonial-carousel">

            <div class="testimonial-wrap">
                <div class="testimonial">
                    <img src="assets/img/person_1.jpg" alt="Image" class="img-fluid">
                    <blockquote>
                        <p>
                            Estar sana y lucir un cuerpo saludable sin dejar de estar radiante es hoy en día lo último de la moda.
                        </p>
                    </blockquote>
                    <p>&mdash; Color azul</p>
                </div>
            </div>

            <div class="testimonial-wrap">
                <div class="testimonial">
                    <img src="assets/img/person_2.jpg" alt="Image" class="img-fluid">
                    <blockquote>
                        <p>
                            Para esa mujer que siempre quiere tener un look chic, trae FIRE SPORT para ti modernos diseños, con coloridos y estampados para que luzcas la versatilidad hecha ropa depeortiva.
                        </p>
                    </blockquote>
                    <p>&mdash; Color gris</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Testimonials Section -->

@code {

}
