<div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
        <div class="row align-items-start">
            <div class="col-md-2">
                <ul class="custom-menu">
                    <li class="active"><a href="/">Inicio</a></li>
                    <li><a href="Acerca">Acerca</a></li>
                    <li><a href="Servicio">Servicios</a></li>
                    <li><a href="Works">Diseños</a></li>
                    <li><a href="Contacto">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-6 d-none d-md-block  mr-auto">
                <div class="tweet d-flex">
                    <span class="icofont-twitter text-white mt-2 mr-3"></span>
                    <div>
                        <p><em>Diseñar, producir y vender prendas de vestir, para dama y caballero, con los más altos estándares de calidad en los textiles y mano de obra Nacional, logrando satisfacción para nuestros clientes.</em><br />
                        <a href="/" class="logo mr-auto"><img src="assets/img/logo.png" alt="" width="210"></a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-none d-md-block">
                <h3>Misión</h3>
                <p>Ser la empresa más reconocida a nivel nacional e internacional y líder del mercado, de confección de prendas de dama y caballero. <br> <a href="#">firesportcolombia@gmail.com</a></p>
            </div>
        </div>

    </div>
</div>
<!-- ======= Navbar ======= -->
<nav class="navbar navbar-light custom-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Fire Sport Portfolio</a>
        <a href="/" class="burger" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
        </a>
    </div>
</nav>