@page "/acerca"
    <main id="main">
        <section class="section pb-5">
            <div class="container">
                <div class="row mb-5 align-items-end">
                    <div class="col-md-6" data-aos="fade-up">

                        <h2>Acerca</h2>
                        <p class="mb-0">FIRE Sport es una innovadora empresa de estilo de vida que produce una amplia colección de ropa y accesorios. Desde su creación ha experimentado un crecimiento extraordinario pasando a ser un pionero líder en la ropa casual premium.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
                        <h3 class="h3 mb-4">Colores más utilizados</h3>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <div class="d-flex mb-1">
                                    <strong>Azul</strong>
                                    <span class="ml-auto">80%</span>
                                </div>
                                <div class="progress custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex mb-1">
                                    <strong>Gris</strong>
                                    <span class="ml-auto">96%</span>
                                </div>
                                <div class="progress custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex mb-1">
                                    <strong>Negro</strong>
                                    <span class="ml-auto">99%</span>
                                </div>
                                <div class="progress custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex mb-1">
                                    <strong>Verde</strong>
                                    <span class="ml-auto">87%</span>
                                </div>
                                <div class="progress custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex mb-1">
                                    <strong>Fucsía</strong>
                                    <span class="ml-auto">85%</span>
                                </div>
                                <div class="progress custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex mb-1">
                                    <strong>Naranja</strong>
                                    <span class="ml-auto">88%</span>
                                </div>
                                <div class="progress custom-progress">
                                    <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
                        <p><img src="assets/img/person_1_sq.gif" alt="Image" class="img-fluid"></p>
                        <p>FIRE Sport Diseña, produce y vende prendas de vestir, para dama y caballero, con los más altos estándares de calidad en los textiles y mano de obra, logrando satisfacción para nuestros clientes, contribuyendo con el desarrollo económico del país; y ofrecer a nuestros empleados un entorno laboral estable.</p>
                        <p>FIRE Sport en Colombia una alternativa joven y cool inspirada en el arte y el diseño. Trabajamos bajo el sello de crea tu propio estilo ofreciendo colecciones de alta calidad con las tendencias globales más importantes del momento</p>
                        <p>Nos conectamos con el color y la estampación y la forma en que se combina para crear un estilo que se adapta a los días de la semana.</p>
                        <p></p>
                        <p><a href="works" class="readmore">Actualiza tu colección</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
